{% load static %}

{% block modal_title %} <h3 class="w-full py-2 px-2 text-sm text-mainCyan font-medium">Upload File</h3> {% endblock %}

{% block add_modal %} 
    <form id="appointment-form" action="{% url 'add-record' %}" method="post" enctype="multipart/form-data" class="h-fit">
        {% csrf_token %}
        {{ form.as_p}}
        <label id="upload-record" for="id_document" 
                class="w-full border rounded px-2 py-2 h-auto flex items-center justify-between gap-3">
            <h3 class="whitespace-nowrap w-fit text-sm">upload files</h3>
            <div id="uploaded-records" class="flex flex-col gap-2 w-full h-fit items-center">
            </div>
        </label>
        <br>
        <div class="w-full h-12 flex justify-between items-center">
            <button type="reset" class="w-fit px-4 h-9 rounded bg-red-500 text-sm text-white">Reset</button>
            <button type="submit" class="w-fit px-4 h-9 rounded bg-green-500 text-sm text-white">Send</button>
        </div>
    </form>
{% endblock %}

<script>
    $("#id_document").change(function(e) {
        e.preventDefault();
        var items = "";
        var files = e.target.files;
        for(var i=0; i<files.length; i++){
            items += `<h3 class="text-sm">${files[i].name}</h3>`;
        }
        document.getElementById('uploaded-records').innerHTML = items;
    })

</script>

