{% load static %}



<div class="flex flex-col gap-2">
    <span class="flex items-center justify-between">
        <button type="button" id="close-settings" class="w-9 h-9 rounded-full text-center">
            <i class="fa-solid fa-xmark text-red-500"></i>
        </button>
        <h3 class="text-textMain text-sm font-medium py-2">Settings</h3>
    </span>

    <form id="settings-form" action="{% url 'settings' %}" method="post" class="flex flex-col gap-2">

        <label for="id_company_name">Company Name</label>
        {{ settings_form.company_name }}

        <label for="id_company_logo" id="">Company Logo</label>
        <label for="id_company_logo" id="company-logo" class="relative px-2 flex items-center justify-between">
            {{ settings_form.company_logo }}
            <h3 class="text-sm text-textMain">Upload Logo</h3>
            <h3 id="selected-logo" class="text-sm text-textMain"></h3>
        </label>

        <span class="flex justify-between items-center">
            <label for="id_company_name">Dark Theme</label>
            {{ settings_form.dark_theme_enabled }}
        </span>

        <span class="flex justify-between items-center">
            <label for="id_company_name">Desable System</label>
            {{ settings_form.is_system_alive }}
        </span>
        <br>
        <button type="submit" class="w-2/5 h-9 rounded bg-cyan-500 text-sm text-white outline-none">Update</button>

    </form>
</div>


<script>
    
</script>

<script>
    const clogo = document.getElementById("id_company_logo");

    document.getElementById("close-settings").addEventListener("click", () => {
        document.getElementById("settings").classList.remove("settings-active");
        document.getElementById("settings").innerHTML = "";
    });

    clogo.addEventListener('change', (e) => {
        let logo = e.target.files[0];
        document.getElementById("selected-logo").innerHTML = logo.name;
    })
</script>