{% extends 'base/base.html' %} {% load static %}
<!-- ----------------------------------------- -->

{% block content %}
<div id="download-modal" class="hidden justify-center items-center">
	<div class="w-full h-full flex flex-col justify-start items-center py-7">
		<span class="h-16"></span>
		<div id="export-modal" class="flex w-[40%] h-auto py-2 bg-white rounded">
			<form action="" method="post" class="w-full h-full flex flex-col gap-2">
				{% csrf_token %}
				{{ form.as_p }}
				<div class="w-full h-12 flex items-center gap-5">
					<button type="reset" id="close-export-modal" class="w-full h-9 rounded bg-red-500 text-white text-sm">Cancel</button>
					<button type="submit" id="export-button" class="w-full h-9 rounded bg-green-500 text-white text-sm">Export</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- filters -->
<form class="w-fill h-12 flex gap-2 justify-start items-center">
	<input type="search" name="aq" id="aq" class=" w-44 h-10 border px-3 text-sm" placeholder="search...">
	<input type="date" name="dq" id="dq" class="w-44 h-10 border px-3 text-sm">
	<button class="w-9 h-9">
		<i class="fa-solid fa-search text-mainText"></i>
	</button>
	<button id="export-excel" type="button" 
			class="w-fit h-8 px-2 flex items-center justify-center gap-2 text-sm text-green-500">
		<img src="{% static 'images/xlsx.png' %}" alt="" class="h-6 w-auto">
		export
	</button>
</form>

<!-- filtered content -->
<div class="h-auto w-full px-2 overflow-x-auto relative">
	<table class="aouto whitespace-nowrap w-full border">
		<thead class="">
			<tr class="w-full h-11">
				<th class="text-sm font-medium px-2 border text-left">Staff</th>
				<th class="text-sm font-medium px-2 border text-left">Staff No.</th>
				<th class="text-sm font-medium px-2 border text-left">Date</th>
				<th class="text-sm font-medium px-2 border text-left">Time In</th>
				<th class="text-sm font-medium px-2 border text-left">Break Time</th>
				<th class="text-sm font-medium px-2 border text-left">Time Out</th>
				<th class="text-sm font-medium px-2 border text-left">Status</th>
				<th class="text-sm font-medium px-2 border text-left">Hours Worked</th>
				<th class="text-sm font-medium px-2 border text-center">Actions</th>
			</tr>
		</thead>
		<tbody class="w-full">
			{% for att in attendances %}
				<tr class="w-full h-9 hover:bg-gray-100 even:bg-gray-50">
					<td class="text-sm px-2 text-mainText">{{ att.staff.full_name }}</td>
					<td class="text-sm px-2 text-mainText">{{ att.staff.staff_number }}</td>
					<td class="text-sm px-2 text-mainText">{{ att.date }}</td>
					<td class="text-sm px-2 text-mainText">{{ att.time_in }}</td>
					<td class="text-sm px-2 text-mainText">{{ att.break_time }}</td>
					<td class="text-sm px-2 text-mainText">{{ att.time_out }}</td>
					<td class="text-sm px-2 text-mainText">{{ att.status }}</td>
					<td class="text-sm px-2 text-mainText">{{ att.hours_worked }}</td>
					<td class="text-sm text-mainText w-full h-9 flex gap-2 justify-center items-center">
						<button  id="update-att-btn"
							hx-get="{% url 'attendance-update' att.pk %}" 
							hx-trigger="click"
							hx-swap="inerHTML"
							hx-target="#att-update"
							class="w-full h-full flex justify-center gap-2 
							items-center hover:bg-cyan-500 hover:text-white">
							<i class="fa-solid fa-pen"></i>
							Edit
						</button>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}

{% block scripts %}
<script>
	$("*#update-att-btn").click(function(){
		$("#att-update-modal").fadeIn(100);
	});

	$("#export-excel").click(function(){
		$("#download-modal").fadeIn(100);
	})
	$("#export-button").click(function(){
		$("#download-modal").fadeOut(100);
	})
	$("#close-export-modal").click(function(){
		$("#download-modal").fadeOut(100);
	})
</script>
{% endblock %}
