{% extends 'base/base.html' %}
{% load static %}


{% block content %}
    <div class="flex flex-col gap-2 px-2 py-2 w-full h-full">
        <div class="h-12 w-full flex items-center justify-start border-b">
            <button id="job-tab" class="h-10 w-fit px-3">Vacancies</button>
            <button id="job-tab" class="h-10 w-fit px-3">Recruited</button>
            <button id="job-tab" class="h-10 w-fit px-3">Applications</button>
        </div>
        <div id="recruitment-content" class="hidden w-full h-full">
            {% if recruitments %}
            <div class="w-full h-auto px-2 py-2 grid grid-cols-1 md:flex gap-4">
                <div class="joblist w-full md:1/2 flex flex-col gap-2 border px-2 py-2">
                    {% for job in recruitments %}
                    <div class="jobcard h-auto w-full px-2 py-2 border shadow flex flex-col rounded">
                        <p class="text-sm text-textMain py-2">Vacancy</p>
                        <a hx-target="#job-detail" hx-trigger="click" hx-get="{% url 'vacancy' job.id %}" hx-swap="innerHHTML" class="cursor-pointer">
                            <h4 class="text-cyan-500 font-medium hover:underline">
                                {{ job.vacancy.position }}
                            </h4>
                        </a>
                        <p class="text-sm text-textMain py-2">Description</p>
                        <p>{{ job.description | truncatewords:20}}</p>
                        <span class="flex justify-between items-center py-2">
                            <p class="text-sm text-textMain">Vacancies: {{ job.number_of_vacancy }}</p>
                            <p class="text-xs text-textMain">Application deadline: {{ job.application_deadline }}</p>
                        </span>
                    </div>
                    {% endfor %}
                </div>
                <div id="job-detail" class="job-detail w-full md:1/2 h-auto overflow-y-auto flex flex-col gap-2 border px-2 py-2"></div>
            </div>
            {% else %}
                <div class="w-full h-full flex justify-center py-10 items-center">
                    <h3>No available vacancy. Please check again later.</h3>
                </div>
            {% endif %}
        </div>
        <div id="recruitment-content" class="hidden w-full h-full">Panel 2</div>
        <div id="recruitment-content" class="hidden w-full h-full">Panel 3</div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var jobTabs = document.querySelectorAll("#job-tab");
        var jobPannels = document.querySelectorAll("#recruitment-content");

        function resetJobDisplay(){
            jobTabs.forEach((tab, i) => {
                tab.classList.remove('job-tab-active');
                jobPannels[i].classList.remove('job-pannel-active')
            })
        }

        resetJobDisplay();
        jobTabs.forEach((tab, i) => {
            jobTabs[0].classList.add('job-tab-active');
            jobPannels[0].classList.add('job-pannel-active')
            tab.addEventListener("click", () => {
                resetJobDisplay();
                tab.classList.add('job-tab-active');
                jobPannels[i].classList.add('job-pannel-active')
            })
        })
    </script>
{% endblock %}

