{% load static %}

<div id="chat-modal" class="fixed w-96 shadow px-2 py-2 gap-2 h-[450px] hidden flex-col bg-white 
            z-10 right-0 bottom-[100px] border overflow-y-auto">
    <div class="flex flex-col gap-2 h-full w-full relative">
        <h3 class="py-2 text-mainCyan font-medium border-b">James Lee</h3>
        <span class=" h-fit w-full flex justify-start">
            <h4 class="border w-fit max-w-[80%] shadow py-2 px-2 text-end bg-white text-sm">Lorem  adipisicing elit. Modi, natus.</h4>
        </span>
        <span class=" h-fit w-full flex justify-end">
            <h4 class="border w-fit max-w-[80%] shadow py-2 px-2 text-end bg-sky-200 text-sm">Lorem  adipisicing elit. Modi, natus.</h4>
        </span>

        <form class="w-full h-12 absolute bottom-0 left-0 flex gap-2 justify-between bg-white">
            <input type="text" name="" id="">
            <button type="button" class="w-9 h-8 shadow rounded-full cursor-pointer">
                <i class="fa-regular fa-paper-plane text-blue-500"></i>
            </button>
        </form>
    </div>
</div>

<script src="{% static 'js/fa.js' %}"></script>

