{% extends 'base/base.html' %}
{% load static %}

{% block title %} Staff Registration {% endblock %}

{% block content %} 
<form action="{% url 'new' %}" method="post" autocomplete="off" autocapitalize="on" enctype="multipart/form-data" class="fm w-full h-auto border flex flex-col gap-4">
    {% csrf_token %}
    <div class="dv w-full h-full grid grid-cols-1 md:flex gap-4 px-2 py-2">
        <div class="grid grid-cols-1 md:flex flex-col w-full">
            <label for="">First Name</label>
            {{ form.first_name }}
            <label for="">Middle Name</label>
            {{ form.middle_name }}
            <label for="">Last Name</label>
            {{ form.last_name }}
        </div>
        <div class="grid grid-cols-1 md:flex flex-col w-full">
            <label for="">Phone No.</label>
            {{ form.mobile_number }}
            <label for="">Staff Id</label>
            {{ form.staff_number }}
            <label for="">Picture</label>
            <label for="id_picture" id="pic-upload" class="items-center flex justify-between px-2 w-full cursor-pointer">
                {{ form.picture }}
                <h3 class="text-sm w-full text-left">upload picture</h3>
                <h3 class="staff-selected-pic text-sm w-full text-end">No file</h3>
            </label>
        </div>
        <div class="grid grid-cols-1 md:flex flex-col w-full">
            <label for="">Date of Birth</label>
            {{ form.dob }}
            <label for="">Joining Date</label>
            {{ form.doj }}
            <label for="">Email</label>
            {{ form.email }}
        </div>
    </div>
    <div class="grid grid-cols-1 md:flex gap-2 w-full">
        <div class="grid grid-cols-1 md:flex flex-col w-44 h-auto px-2">
            <label for="">Gender</label>
            {{ form.gender }}
        </div>
        <span class="w-full flex flex-col">
            <label for="">Bio / Note</label>
            {{ form.bio }}
        </span>
    </div>
    <div class="w-full h-full flex gap-4 px-2 py-2">
        <div class="grid grid-cols-1 md:flex flex-col w-full">
            <label for="">Department</label>
            <span class="w-full h-11 flex items-start gap-2">
                {{ form.department }}
                <button type="button" hx-get="{% url 'add-department' %}" hx-target="#dynamic-modal" hx-swap="beforeend" hx-trigger="click"
                id="addmodal-open"  class="group w-8 h-8 border hover:bg-cyan-500">
                    <i class="fa-solid fa-add text-gray-400 group-hover:text-white"></i>
                </button>
            </span>
            <label for="">position</label>
            <span class="w-full h-11 flex items-start gap-2">
                {{ form.position }}
                <button type="button" hx-get="{% url 'add-position' %}" hx-target="#dynamic-modal" hx-swap="beforeend" hx-trigger="click"
                id="addmodal-open"  class="group w-8 h-8 border hover:bg-cyan-500">
                    <i class="fa-solid fa-add text-gray-400 group-hover:text-white"></i>
                </button>
            </span>
        </div>
        <div class="grid grid-cols-1 md:flex flex-col w-full">
            <label for="">Education</label>
            {{ form.education }}
            <label for="">Grade</label>
            <span class="w-full h-11 flex items-end gap-2">
                {{ form.grade }}
                <button type="button" hx-get="{% url 'add-grade' %}" hx-target="#dynamic-modal" hx-swap="beforeend" hx-trigger="click"
                id="addmodal-open"  class="group w-8 h-8 border hover:bg-cyan-500">
                    <i class="fa-solid fa-add text-gray-400 group-hover:text-white"></i>
                </button>
            </span>
        </div>
        
    </div>
    <input type="submit" value="Add staff" class="h-10 text-cyan-500 font-medium border text-sm w-36 rounded">
</form>

{% endblock %}